<div id="configurationX" class="row">
    <div class="col-md-4">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-body">
                    <canvas id="renderContainer"></canvas>
                    <table class="preview-param-table">
                        <tr>
                            <td>H, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>h, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&alpha;, град</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table>
            <tr>
                <td>Конструкция:</td>
                <td>
                    <select class="selectpicker">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Тип системы:</td>
                <td>
                    <select ng-model="installationParams.systemType" class="selectpicker">
                        <option ng-repeat="option in installationParamSets.systemType" value="{{option.rows}}">{{option.label}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Расположение модулей:</td>
                <td>
                    <select class="selectpicker">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Модулей в ряду:{{ instalationParams.modulesCount }}</td>
                <td><input type="text" class="form-control" ng-model="installationParams.modulesCount"></td>
            </tr>
            <tr>
                <td>Количество модулей, шт.:</td>
                <td><input type="text" class="form-control" disabled ng-model="installationParams.totalModulesCount"></td>
            </tr>
            <tr>
                <td>Количество в ряду:</td>
                <td class="input-group pull-right">
                    <input type="text" class="form-control" ng-model="installationParams.moduleLength">
                    <input type="text" class="form-control" ng-model="installationParams.moduleHeight">
                    <input type="text" class="form-control" ng-model="installationParams.moduleWidth">
                </td>
            </tr>
            <tr>
                <td>Угол наклона:</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Количество опор, шт.:</td>
                <td><input type="text" class="form-control" disabled></td>
            </tr>
            <tr>
                <td>Установленная мощбность модуля, Вт:</td>
                <td><input type="text" class="form-control" ></td>
            </tr>                <tr>
            <td>Установленная мощбность системы, кВт:</td>
            <td><input type="text" class="form-control" disabled ></td>
        </tr>
            <tr>
                <td>Количество систем, шт.:</td>
                <td><input type="text" class="form-control" ></td>
            </tr>
            <tr>
                <td>Общая установленная мощность, Вт:</td>
                <td><input type="text" class="form-control" disabled ></td>
            </tr>
        </table>
    </div>
</div>