
<div id="configuration{{ configuration.params.configurationId }}" class="row">

    <div class="col-md-5">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="renderer-container">
                        img must be here...
                    </div>
                    <table class="col-md-3">
                        <tr>
                            <td>H, мм</td>
                            <td>{{ configuration.params.configurationId }}</td>
                        </tr>
                        <tr>
                            <td>h, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B, мм</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&alpha;, град</td>
                            <td>{{ configuration.params.tableAngle }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table-striped table-hover table-condensed">
            <tr>
                <td class="col-md-4">Конструкция:</td>
                <td class="col-md-3">
                    <select ng-model="configuration.params.designType" class="form-control">
                        <option ng-repeat="option in configurationParamSet.design" value="{{option.id}}">{{option.label}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Тип системы:</td>
                <td>
                    <select ng-model="configuration.params.rows" ng-change="configuration.painter.drawModel()" class="form-control">
                        <option ng-repeat="option in configurationParamSet.systemType" value="{{option.rows}}">{{option.label}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Расположение модулей:</td>
                <td>
                    <select ng-model="configuration.params.moduleOrientation" class="form-control">
                        <option ng-repeat="option in configurationParamSet.moduleOrientation" value="{{option.id}}">{{option.label}}</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>Модулей в ряду:</td>
                <td><input ng-model="configuration.params.modulesCount" ng-change="configuration.painter.drawModel()" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Количество модулей, шт.:</td>
                <td><input type="text" class="form-control" disabled ng-model="configuration.params.totalModulesCount"></td>
            </tr>
            <tr>
                <td>Размеры модуля, мм:</td>
                <td class="input-group pull-right module-sizes">
                    <input ng-change="configuration.painter.drawModel()" ng-model="configuration.params.moduleHeight" type="text" class="form-control"><span>X</span>
                    <input ng-change="configuration.painter.drawModel()" ng-model="configuration.params.moduleWidth" type="text" class="form-control"><span>X</span>
                    <input ng-change="configuration.painter.drawModel()" ng-model="configuration.params.moduleDepth" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td>Угол наклона:</td>
                <td><input ng-model="configuration.params.tableAngle" ng-change="configuration.painter.drawModel()" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Количество опор, шт.:</td>
                <td><input type="text" class="form-control" disabled></td>
            </tr>
            <tr>
                <td>Установленная мощбность модуля, Вт:</td>
                <td><input type="text" class="form-control" ></td>
            </tr>                <tr>
            <td>Установленная мощбность системы, кВт:</td>
            <td><input type="text" class="form-control" disabled ></td>
        </tr>
            <tr>
                <td>Количество систем, шт.:</td>
                <td><input type="text" class="form-control" ></td>
            </tr>
            <tr>
                <td>Общая установленная мощность, Вт:</td>
                <td><input type="text" class="form-control" disabled ></td>
            </tr>
        </table>
    </div>
</div>